<h1>Transactions</h1>

<%= form_tag transactions_path, method: :get do %>
  <div class="input-group mb-3">
    <%= label :month, "Filter by month:", class:"input-group-text" %>
    <%= month_field_tag :month, params[:month], class: "form-control", selected: session[:selectedMonth] %>
    <%= submit_tag "Filter", class: "btn btn-secondary" %>
  </div>
  <% end %>

<br/>
<table class="table table-sm table-hover table-bordered table-striped">
  <thead class="table-dark" onChange=>
    <tr>
      <th>User</th>
      <th>Store</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Date</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.user.name %></td>
        <td><%= "#{transaction.store.name} - #{transaction.store.location}" %></td>
        <td><%= transaction.category.name %></td>
        <td><%= "¥#{transaction.amount}" %></td>
        <td><%= "#{transaction.created_at.strftime("%Y-%m-%d")}" %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) %>
<br/>
<%= link_to 'New Transaction', new_transaction_path, class: "btn btn-primary" %>
<br/>
<br/>
<p><%= "This months total spending: ¥#{format('%.d',calculateTotal)}" %></p>

<br/>

<h1>Charts</h1>

<div class="container">
<div class="d-flex justify-content-center">
  <%= column_chart "/charts/byStore", prefix: "¥", title: "Spending by store", class:" p-2 bg-light", library: {responsive: true} %>
  <%= column_chart "/charts/byCategory", prefix: "¥", title: "Spending by category", class:" p-2 bg-light", library: {responsive: true}  %>
  </div>
  <div class="d-flex justify-content-center">
    <%= line_chart "/charts/byWeek", prefix: "¥",title: "Spending by week",class:" p-2 bg-light", library: {responsive: true}  %>
    <%= column_chart "/charts/byMonth",prefix: "¥",title: "Spending by month" ,class:" p-2 bg-light", library: {responsive: true} %>
  </div>
</div>

<br><br>